@font-face {
    font-family: rustic;
    src: url(../fonts/rustic.ttf);
}

body {
    font-family: rustic;
    margin: 0;

    .center {
        text-align: center;
    }

    .demo-container {
        margin: 2em auto;
        width: 90vw;

        img {
            width: 100%;
        }
    }
}
